[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bitfield = "==1.9.3"
Django = "==2.2.1"
django-extensions = "==2.1.6"
django-widget-tweaks = "==1.4.3"
requests = "==2.21.0"
django-environ = "==0.4.5"
beautifulsoup4 = "==4.7.1"
seaborn = "==0.9.0"
django-select2 = "==7.0.3"
psycopg2 = "==2.8.2"
psycopg2-binary = "==2.8.2"
black = "==19.3b0"
pre-commit = "==1.16.1"

[dev-packages]
jupyter_core = "==4.4.0"
jupyter-client = "==5.2.3"
ipython = "==7.4.0"
pylint = "==2.3.1"
notebook = "==5.7.8"
django-debug-toolbar = "==1.11"
pylint-django = "==2.0.6"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true