[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.7.1"
django-bitfield = "==1.9.3"
Django = "==2.2.8"
django-environ = "==0.4.5"
django-extensions = "==2.1.6"
django-select2 = "==7.0.3"
django-widget-tweaks = "==1.4.3"
elasticsearch-dsl = ">=7.0.0,<8.0.0"
gunicorn = "*"
psycopg2 = "==2.8.2"
psycopg2-binary = "==2.8.2"
requests = "==2.21.0"
seaborn = "==0.9.0"

[dev-packages]
black = "==19.3b0"
django-debug-toolbar = "==1.11"
ipython = "==7.4.0"
jupyter = "*"
jupyter_core = "==4.4.0"
jupyter-client = "==5.2.3"
pylint = "==2.3.1"
pylint-django = "==2.0.6"
notebook = "==5.7.8"
pre-commit = "==1.16.1"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
