[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bitfield = "==1.9.3"
"psycopg2" = "==2.7.5"
Django = "*"
django-extensions = "*"
django-widget-tweaks = "*"
requests = "*"
ijson = "*"
django-environ = "*"

[dev-packages]
jupyter_core = "==4.4.0"
jupyter-client = "==5.2.3"
ipython = "*"
pylint = "*"
notebook = "*"

[requires]
python_version = "3"
