Django==4.0.3
arrow==1.2.2
beautifulsoup4==4.10.0
django-bitfield==2.1.0
django-environ==0.8.1
django-extensions==3.1.5
django-select2==7.10.0
django-tinymce==3.4.0
django-widget-tweaks==1.4.12
djangorestframework==3.13.1
gunicorn==20.1.0
ijson==3.1.4
matplotlib==3.5.0
numpy==1.22.2
pandas==1.4.1
psycopg2==2.9.3
requests==2.27.1
seaborn==0.11.2
