{% extends "website/filters/base_filter.html" %}
{% load widget_tweaks %}
{% block title_extra %}
    <div style="float:right;">
        <div style="display:flex;max-height:23px;">
            {% render_field exclude_field class="onlyCheckbox" %}
            <label for="onlyIdentityBox" class="unselectable js-only-checkbox">Only</label>
            {% include 'website/filters/filter_match_options.html' with field=match_field %}
        </div>
    </div>
{% endblock %}
{% block filter %}
    <div class="filter-item-list" style="display: flex;">
        {% include 'website/filters/_colour_selector.html' with symbol='w' field=colour_fields.w %}
        {% include 'website/filters/_colour_selector.html' with symbol='u' field=colour_fields.u %}
        {% include 'website/filters/_colour_selector.html' with symbol='b' field=colour_fields.b %}
        {% include 'website/filters/_colour_selector.html' with symbol='r' field=colour_fields.r %}
        {% include 'website/filters/_colour_selector.html' with symbol='g' field=colour_fields.g %}
        {% include 'website/filters/_colour_selector.html' with symbol='c' field=colour_fields.c %}
    </div>
{% endblock %}
