{% load widget_tweaks %}
{% load staticfiles %}

{% block head %}
    <script src="{% static "js/filters.js" %}" type="text/javascript"></script>
    {{ form.media.css }}
    {{ form.media.js }}
{% endblock %}
{% block content %}
    <form action="{% url 'website:simple_search' %}" method="get">
        <div class="filter-container">
            <div class="search-btn-container js-search-btn">
                <a class="search-btn " href="#">Search</a>
            </div>
            {% include 'website/filters/text_filter.html' with title="Card name" enabled=form.card_name.value field=form.card_name placeholder="Search card name" %}
            {% include 'website/filters/text_filter.html' with title="Rules text" enabled=form.rules_text.value field=form.rules_text placeholder="Use ~ for card name" %}
            {% include 'website/filters/text_filter.html' with title="Flavour text" enabled=form.flavour_text.value field=form.flavour_text placeholder="Search flavour text" %}
            {% include 'website/filters/text_filter.html' with title="Type" enabled=form.type_text.value field=form.type_text placeholder="Search card type" %}
            {% include 'website/filters/text_filter.html' with title="Subtype" enabled=form.subtype_text.value field=form.subtype_text placeholder="Search card subtype" %}
            {% include 'website/filters/slider_filter.html' with title="Converted Mana Cost" enabled=form.max_cmc.value min_field=form.min_cmc max_field=form.max_cmc min_val=0 max_val=16 %}
            {% include 'website/filters/colour_filter.html' with title="Colour" enabled=form.is_colour_enabled colour_fields=form.colour_fields exclude_field=form.exclude_colours match_field=form.match_colours %}
            {% include 'website/filters/colour_filter.html' with title="Colour Identity" enabled=form.is_colourid_enabled colour_fields=form.colourid_fields exclude_field=form.exclude_colourids match_field=form.match_colourids %}
            {% include 'website/filters/slider_filter.html' with title="Power" enabled=form.max_power.value min_field=form.min_power max_field=form.max_power min_val=-1 max_val=16 %}
            {% include 'website/filters/slider_filter.html' with title="Toughness" enabled=form.max_toughness.value min_field=form.min_toughness max_field=form.max_toughness min_val=-1 max_val=16 %}
            {% include 'website/filters/rarity_filter.html' with title='Rarity' enabled=form.is_rarity_enabled rarity_fields=form.rarity_fields match_field=form.match_rarity %}
            {% include 'website/filters/select_filter.html' with title="Sets" enabled=forms.sets field=form.sets match_field=form.match_sets%}
            {% include 'website/filters/text_filter.html' with title="Mana Cost" enabled=form.mana_cost_text.value field=form.mana_cost_text placeholder="Search card mana cost" %}
        </div>
    </form>
{% endblock %}