{% extends 'website/base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load deck_templatetags %}
{% block content %}
    <div class="body-content">
        <div class="main-content" style="color:white;">
            <div class="group-container">
                <div class="field-container">
                    <h1>{{ deck.name }}</h1>
                </div>
                <div class="field-container">
                    {{ deck.description }}
                </div>
                <div class="field-container">
                    {{ deck.date_created }}
                </div>
            </div>
            <div class="group-container">
                <div class="deck-card-list">
                    <div style="font-weight: bold;">Total {{ deck.get_card_count }}</div>
                    {% for group_name, cards in deck.get_card_groups.items %}
                        {% if cards.exists %}
                            <div class="card-group">
                                <div class="group-title">{{ group_name }} ({{ cards|deck_group_count }})</div>
                                {% for deck_card in cards.all %}
                                    {% include "website/decks/deck_card.html" with deck_card=deck_card %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="group-container">
                <div class="deck-action-bar">
                    <a class="action-button" href="{% url 'website:decks' %}">Back</a>
                    <a class="action-button" href="{% url 'website:deck_edit' deck_id=deck.id %}">Edit</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}