{% extends 'website/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
    {{ deck_form.media.css }}
    {{ deck_form.media.js }}
    <script>
        let DECK_CARD_SEARCH_URL = '{% url 'website:deck_card_search' %}';
    </script>
    <script src="{% static "js/decks.js" %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="body-content">
        <div class="main-content">
            <form method="post"
                  action="{% spaceless %}
{% if deck_form.instance.id %}
    {% url 'website:deck_edit' deck_id=deck_form.instance.id %}
{% else %}
    {% url 'website:create_deck' %}
{% endif %}
{% endspaceless %}">
                {% csrf_token %}
                <div class="group-container">
                    <div class="row">
                        <div class="field-container">
                            {{ deck_form.name.label_tag }}
                            {{ deck_form.name }}
                        </div>
                        <div class="field-container">
                            {{ deck_form.subtitle.label_tag }}
                            {{ deck_form.subtitle }}
                        </div>
                        <div class="field-container">
                            {{ deck_form.format.label_tag }}
                            {{ deck_form.format }}
                        </div>
                        <div class="field-container">
                            {{ deck_form.date_created.label_tag }}
                            {% render_field deck_form.date_created type="date" %}
                            {{ deck_form.date_created.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="field-container">
                            {{ deck_form.description.label_tag }}
                            {{ deck_form.description }}
                        </div>
                    </div>
                </div>

                <div class="group-container">
                    <div class="row">
                        <div class="column">
                            <div class="row">
                                <div class="field-container">
                                    <label for="card-input">Card</label>
                                    <input id="card-input"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="field-container">
                                    {{ deck_form.quantity.label_tag }}
                                    {{ deck_form.quantity }}
                                </div>
                                <div class="field-container">
                                    {{ deck_form.card_board.label_tag }}
                                    {{ deck_form.card_board }}
                                </div>

                            </div>
                            <div class="row">
                                <button class="js-add-card-to-board-btn">Add card to board >></button>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field-container">
                                <div class="search-result-tab-container">

                                    <div class="tab-container js-deck-board-tab-container" data-selected-tab="main">
                                        <ul class="tab-list">
                                            <li class="tab js-board-tab selected"
                                                data-tab-type="main">
                                                Main
                                            </li>
                                            <li class="tab js-board-tab"
                                                data-tab-type="side">
                                                Side
                                            </li>
                                            <li class="tab js-board-tab"
                                                data-tab-type="maybe">
                                                Maybe
                                            </li>
                                            <li class="tab js-board-tab"
                                                data-tab-type="acquire">
                                                Acquire
                                            </li>
                                        </ul>
                                        <div class="js-board-tab-content"
                                             data-tab-type="main">
                                            {% render_field deck_form.main_board rows="20" %}
                                        </div>
                                        <div class="js-board-tab-content"
                                             data-tab-type="side"
                                             style="display:none;">
                                            {% render_field deck_form.side_board rows="20" %}
                                        </div>
                                        <div class="js-board-tab-content"
                                             data-tab-type="maybe"
                                             style="display:none;">
                                            {% render_field deck_form.maybe_board rows="20" %}
                                        </div>
                                        <div class="js-board-tab-content"
                                             data-tab-type="acquire"
                                             style="display:none;">
                                            {% render_field deck_form.acquire_board rows="20" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-container">
                    <div class="row">
                        <div class="field-container">
                            {{ deck_form.exclude_colours.label_tag }}
                            {{ deck_form.exclude_colours }}
                        </div>
                    </div>
                </div>

                <div class="group-container">
                    <div class="row">
                        <div class="field-container" style="flex-direction: row;">
                            {{ deck_form.is_prototype.label_tag }}
                            {{ deck_form.is_prototype }}
                        </div>
                        <div class="field-container" style="flex-direction: row;">
                            {{ deck_form.is_private.label_tag }}
                            {{ deck_form.is_private }}
                        </div>
                    </div>
                </div>

                {% if deck_form.errors %}
                    <div class="group-container">

                        {% for field, errors in deck_form.errors.items %}
                            {% for error in errors %}
                                <div>
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {{ deck_form.skip_validation.label_tag }}
                        {{ deck_form.skip_validation }}
                    </div>
                {% endif %}

                <div class="group-container">
                    <div class="row">
                        <input type="submit" name="save" value="Save"/>
                        <input type="submit" name="save_continue" value="Save &amp; Continue"/>
                        <a href="{% url 'website:decks' %}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}