{% extends 'website/base.html' %}
{% load static %}
{% block content %}
    <div class="body-content">
        <div class="main-content" style="color:white;">
            <div class="group-container">
                <div class="field-container">
                    <h2>Some unused Cards</h2>
                    <ul>
                        {% for unused_card in unused_cards %}
                            <li>
                                {% include "website/card_link.html" with card=unused_card.card preferred_printing=unused_card.preferred_printing %}
                            </li>
                        {% endfor %}
                    </ul>
                    <h2>Some unused commanders</h2>
                    <ul>
                        {% for unused_card in unused_commanders %}
                            <li>
                                {% include "website/card_link.html" with card=unused_card.card preferred_printing=unused_card.preferred_printing %}
                            </li>
                        {% endfor %}
                    </ul>
                    <h2>Partner Pairings</h2>
                    <ul>
                        {% for partner_pair in partner_pairs %}
                            <li>
                                {% include "website/card_link.html" with card=partner_pair.partner_1.card preferred_printing=partner_pair.partner_1.preferred_printing %}
                                //
                                {% include "website/card_link.html" with card=partner_pair.partner_2.card preferred_printing=partner_pair.partner_2.preferred_printing %}
                            </li>
                        {% endfor %}
                    </ul>
                    <h2>Background Pairings</h2>
                    <ul>
                        {% for background_pair in background_pairs %}
                            <li>
                                {% include "website/card_link.html" with card=background_pair.choose_background.card preferred_printing=background_pair.choose_background.preferred_printing %}
                                //
                                {% include "website/card_link.html" with card=background_pair.background.card preferred_printing=background_pair.background.preferred_printing %}
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{% url "website:change_unused_decks" %}">See more unused cards</a>
                    <h2>Decks</h2> {{ deck_count }}
                    <h2>Warnings</h2>
                    {% for warning in deck_warnings %}
                        <div>
                            <a href="{% url "website:deck_view" deck_id=warning.deck.id %}">{{ warning.deck.name }}: </a>
                            {{ warning.msg }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}