{% extends 'website/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head %}
    <script src="{% static "js/decks.js" %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div class="body-content">
        <div class="main-content">
            <h1>Your Decks</h1>
            <div style="margin: 15px;">
                <a class="action-button" href="{% url 'website:create_deck' %}">Create New Deck</a>
                <a class="action-button" href="{% url 'website:deck_stats' %}">Deck Stats</a>
            </div>
            {% include "website/decks/_deck_list.html" with decks=final_decks page_buttons=final_page_buttons%}
            <h1>Prototype Decks</h1>
            {% include "website/decks/_deck_list.html" with decks=prototype_decks page_buttons=prototype_page_buttons page_name="prototype_page" %}
        </div>
    </div>



{% endblock %}