{% load card_image %}
{% load static %}
{% load deck_templatetags %}
{% block content %}
    <div class="deck-card">{{ deck_card.count }}x
        {% include "website/card_link.html" with card=deck_card.card card_name=deck_card.get_card_name preferred_printing=deck_card|owner_preferred_card newtab=True%}
        {% if deck_card.is_companion %}
            <i class="ms ms-ability-companion"></i>
        {% elif deck_card.card.is_land and deck_card.card.layout == "modal_dfc" %}
            <i class="ms ms-land"></i>
        {% elif deck_card.card.layout == "adventure" %}
            <i class="ms ms-ability-adventure"></i>
        {% elif deck_card.card.layout == "transform" and deck_card.card.is_land %}
            <i class="ms ms-dfc-enchantment"></i>
        {% endif %}
    </div>
{% endblock %}