{% extends 'website/base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load deck_templatetags %}
{% block head %}
    <script src="{% static "js/decks.js" %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div class="body-content">
        <div class="main-content" style="color:white;">
            <div class="group-container">
                <div class="field-container">
                    <h1>{{ deck.name }}</h1>
                    <j2>{{ deck.subtitle }}</j2>
                </div>
                <div class="field-container">
                    {{ deck.description }}
                </div>
                <div class="field-container">
                    {{ deck.date_created }}
                </div>
                <div>
                    <canvas class="js-mini-deck-chart" height="75px" data-deck-id="{{ deck.id }}"></canvas>
                </div>
            </div>
            <div class="group-container">
                <div class="deck-card-list">
                    <div style="font-weight: bold;">Main {{ deck.get_mainboard_count }}</div>
                    {% for group_name, cards in deck.get_card_groups.items %}
                        {% if cards.exists %}
                            <div class="card-group">
                                <div class="group-title">{{ group_name }} ({{ cards|deck_group_count }})</div>
                                {% for deck_card in cards.all %}
                                    {% include "website/decks/deck_card.html" with deck_card=deck_card %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if deck.get_sideboard.exists %}
                        <div class="card-group">
                            <div class="group-title">Sideboard</div>
                            {% for deck_card in deck.get_sideboard %}
                                {% include "website/decks/deck_card.html" with deck_card=deck_card %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="group-container">
                <div class="deck-action-bar">
                    <a class="action-button" href="{% url 'website:decks' %}">Back</a>
                    <a class="action-button" href="{% url 'website:deck_edit' deck_id=deck.id %}">Edit</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}