{% extends 'website/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load deck_templatetags %}
{% block head %}
    <script src="{% static "js/decks.js" %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div class="body-content">
        <div class="main-content" style="color:white;">
            <div class="group-container">
                <div class="field-container">
                    <h1>{{ deck.name }} {% if deck.is_prototype %}<em>[prototype]</em>{% endif %}</h1>
                    <h2>{{ deck.subtitle }}</h2>

                </div>
                <div class="field-container">
                    {{ deck.description|safe }}
                </div>
                <div class="field-container">
                    {{ deck.date_created }}
                </div>
                <div>
                    <canvas class="js-mini-deck-chart" height="75px" data-deck-id="{{ deck.id }}"></canvas>
                </div>
            </div>
            <div class="group-container">
                <div class="deck-card-list">
                    <div style="font-weight: bold;">Main {{ deck.get_mainboard_count }}</div>
                    {% for card_group in deck.get_card_groups %}
                        {% if card_group.cards %}
                            <div class="card-group">
                                <div class="group-title">{{ card_group.cards|deck_group_count }} {{ card_group.name }}
                                    {# Add land total if there are modal dfc cards #}
                                    {% if card_group.name == 'Lands' and card_group.cards|deck_group_count != deck.get_total_land_count %}
                                        ({{ deck.get_total_land_count }} <i class="ms ms-land"></i>)
                                    {% endif %}
                                </div>
                                {% for deck_card in card_group.cards %}
                                    {% include "website/decks/deck_card.html" with deck_card=deck_card %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if deck|board_cards:'side' %}
                        <div class="card-group">
                            <div class="group-title">Sideboard</div>
                            {% for deck_card in deck|board_cards:'side' %}
                                {% include "website/decks/deck_card.html" with deck_card=deck_card %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="group-container">
                <div class="deck-action-bar">
                    <a class="action-button" href="{% url 'website:decks' %}">Back</a>
                    <a class="action-button" href="{% url 'website:deck_edit' deck_id=deck.id %}">Edit</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}