
.pagination-container .page-button:first-child {
    flex: 4;
}

.pagination-container {
    margin: 10px auto;
    width: 600px;
}


.pagination-container .page-button:first-child, .pagination-container .page-button:last-child {
    flex: 4;
}

.toggle-group, .page-button-list {
    display: flex;
    align-content: center;
    text-align: center;
    border-radius: 3px;
    max-height: 30px;
}

.toggle-group.is-disabled {
    display: none;
}

.page-button {
    flex: 1;
    background-color: #333;
    border: 1px solid #444;
    font-weight: 500;
    font-size: 14px;
    color: #ddd;
    padding: 5px 10px;
    border-right: none;
    text-decoration: none;
    white-space: nowrap;
}

.page-button:not(.disabled) {
    cursor: pointer;
}

.page-button:first-child {
    border-radius: 3px 0 0 3px;
}

.page-button:last-child {
    border-radius: 0 3px 3px 0;
    border-right: 1px solid #444;
}

.page-button.is-active, .page-button:hover:not(.disabled) {
    background-color: #08c;
    color: #fff;
    border-color: #08c;
}

.page-button.is-disabled {
    cursor: auto;
    color: #777;
    pointer-events: none;
}

.page-button-text {
    display: inline;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
