body, html {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Helvetica, "Sans-Serif";
}

header, footer {
    background-color: #ffa500;
    #grid-area: header;
}

body {
    grid-column: span 12;
    grid-row: 3;
}

h1 {
    color: white;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.menu li {
    float: left;
}

ul.menu a {
    display: block;
    padding: 8px;
}

.header {
    grid-column: span 12;
    grid-row: 1;
    background: #2a4466;
}

.footer {
    grid-column: span 12;
    grid-row: 3;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
}

.simple-search-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.simple-search-sidebar {
    grid-column: span 4;
    grid-row: 2;
}

.simple-search-content {
    grid-column: span 8;
    grid-row: 2;
}

.toggle-checkbox {
    display: none;
}

.toggle-checkbox:checked + label {
    background-color: #08c;
    border-color: #08c;
    color: #fff;
}

.toggle-checkbox + label {
    display: inline;
    position: relative;
    padding: 0 4px;
    border: 1px solid #444;
    border-radius: 3px;
    color: #ddd;
    font-weight: 500;
    font-size: 14px;
    background-color: #222;
    cursor: pointer;
    user-select: none;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
}

.toggle {
    display: flex;
    align-content: center;
    text-align: center;
    border-radius: 3px;
    max-height: 30px;
}

.toggle-option.is-active {
    background-color: #08c;
    color: #fff;
    border-color: #08c;
}

.toggle-option:first-child {
    border-radius: 3px 0 0 3px;
}

.toggle-option:first-child {
    border-radius: 3px 0 0 3px;
}

.toggle-option {
    flex: 1;
    background-color: #333;
    border: 1px solid #444;
    border-top-color: rgb(68, 68, 68);
    border-right-color: rgb(68, 68, 68);
    border-bottom-color: rgb(68, 68, 68);
    border-left-color: rgb(68, 68, 68);
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #ddd;
    padding: 5px 10px;
    border-right: none;
    border-right-color: currentcolor;
    text-decoration: none;
    white-space: nowrap;
}

.toggle-item {
    background-color: #222;
    padding: 0 4px;
}

.toggle-option label {
    display: inline;
}

.item-list {
    display: flex;
    flex-flow: row wrap;
}

.item-list .list-item {
    text-align: center;
    flex: 15% 0 0;
    display: block;
    border-radius: 3px;
    padding: 1px;
    margin: 1px;
}

.item-list .list-item.is-active {
    background-color: #151515;
}