
.ms-cost.inactive {
    color: #BEB9B2;
    background-color: #151515;
}

.ms-saga-1:after, .ms-saga-2:after, .ms-saga-3:after, .ms-saga-4:after, .ms-saga-5:after {
    color: #000;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */;
}


body {
    margin: 0;
}

*, :after, :before {
    box-sizing: inherit;
}

.main-layout {
    box-sizing: border-box;
    background: #f4f4f4;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.main-layout .body-content {
    max-width: 1280px;
}


html {
    font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: white;
}

body {
    background-color: #333;
}

.action-button {
    border: none;
    padding: 13px;
    margin-right: 3px;
    margin-left: 3px;
    line-height: 12px;
    background-color: #34547f;
    transition: .3s;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    white-space: nowrap;

}

.action-button:hover {
    background-color: #3d6496;
}


.select-group {
    position: relative;
    cursor: pointer;
    max-height: 30px;
    display: inline-block;
}

.select-group.is-disabled {
    display: none;
}

.text-input input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    /*appearance: textfield;*/
    margin: 0;
    background: #333;
    padding: 6px 10px;
    border: 1px solid #444;
    outline: 0;
    font-weight: 700;
    font-size: 14px;
    border-radius: 3px;
    color: #ddd;
    height: auto;
    line-height: normal;
}

.select2, .select2-container {
    color: black;
}

.select-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #333;
    padding: 6px 30px 6px 10px;
    border: 1px solid #444;
    outline: 0;
    font-size: 14px;
    border-radius: 3px;
    color: #ddd;
    height: auto;
    line-height: normal;
}

.select-group:after, .text-input:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 10px;
    width: 0;
    height: 0;
    border-top: 6px solid #666;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    pointer-events: none;
}


body {
    margin: 0;
}

.main-layout {
    box-sizing: border-box;
    background: #333;
}

.body-content {
    max-width: none;
    display: flex;
    margin: 60px auto 0;
    min-width: 600px;
}

.main-content {
    background-color: #222;
    width: 100%;
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    padding: 2em;
}

.body-content h1 {
    color: white;
}


.main-layout .body-content {
    max-width: 1280px;
}


.subtitle {
    line-height: 20px;
    font-weight: 300;
    font-size: 15px;
    margin: 0;
    color: #eeeeee;
}

.card-link, .card-link a {
    text-decoration: none;
    color: #ccc;
    transition: .3s;
    cursor: hand;
    border-bottom: 1px solid rgb(4, 137, 199);
}

.card-link:hover {
    background-color: #0092d6;
    border-radius: 2px;
}

.image-popup-container {
    padding: 2px;
    background: white;
    border-radius: 3px;
    position: absolute;
    display: block;
    pointer-events: none;
    font-size: 0;
    z-index: 1000;
}

.image-popup-container img {
    width: 200px;
}