.top-bar {
    background: #2a4466;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 100;
    display: flex;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.profile-button {
    min-width: 10em;
    text-align: center;
}

.profile-container {
    position: absolute;
    background: #2a4466;
    border-radius: 0 0 5px 5px;
    width: 250px;
    top: 60px;
    right: 0;
    padding: 10px
}

.profile-container p {
    color: white;
}

.profile-container a {
    color: white;
    text-decoration: none;
}

.profile-container a:hover {
    text-decoration: underline;
}


.search-icon {
    flex: 0 20px;
    opacity: .3;
    margin: 10px 0 0 15px;
}



.top-bar-content {
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}


.top-bar {
    background: #2a4466;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 100;
    display: flex;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}