{% block content %}

    <div class="sk-panel filter--rulesText js-collapsible-filter-field">
        <div class="sk-panel__header is-collapsable js-filter-heading"
             data-collapsed="{% if field.value %}false{% else %}true{% endif %}">
            <span class="js-collapse-arrow"></span>
            <span>&nbsp;</span>
            <span>{{ title }}</span>
        </div>
        <div class="sk-panel__content js-filter-container {% if not field.value %}is-collapsed{% endif %}">
            <div class="sk-input-filter js-filter">
                <div class="sk-input-filter-form">
                    {% block filter %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}