{% block content %}
    <div class="filter-panel js-collapsible-filter-field">
        <div class="panel-heading is-collapsable js-filter-heading"
             data-collapsed="{% if enabled %}false{% else %}true{% endif %}">
            <span class="js-collapse-arrow"></span>
            <span>&nbsp;</span>
            <span>{{ title }}</span>
            {% block title_extra %}
            {% endblock %}
        </div>
        <div class="filter-content js-filter-container {% if not enabled %}is-collapsed{% endif %}">
            {% block filter %}
            {% endblock %}
        </div>
    </div>
{% endblock %}