{% load card_image %}
{% load static %}

{% block content %}
    {% for face_printing in printing.face_printings.all %}
        <img class="card-image
        js-card-result-image
        {% if forloop.first %}side-front{% else %}side-back{% endif %}
                layout-{{ printing.card.layout }}
                {% if printing.card.is_wide %}wide{% endif %}
                {% if printing.card.is_double_faced %}flipping{% endif %}"
             src="{% static face_printing|card_face_printing_image_url|safe %}" alt="{{ printing.card.display_name }}"
             width="100"/>
    {% endfor %}
{% endblock %}