{% load card_image %}
{% load card_sides %}
{% load staticfiles %}

{% block content %}
    <img class="card-image js-card-result-image side-front
                layout-{{ printing.card.layout }}
                {% if printing.card.is_wide %}wide{% endif %}
                {% if printing.card.layout == 'transform' or printing.card.layout == 'modal_dfc' or printing.card.layout == 'meld' and printing.card.side != 'c' %}
                    flipping
                {% endif %}"
         src="{% static printing|card_printing_image_url|safe %}" alt="{{ printing.card.display_name }}"
         width="100"/>
    {% if printing.card.layout == 'transform' or printing.card.layout == 'modal_dfc' or printing.card.layout == 'meld' and printing.card.side != 'c' %}
        {% with printing|other_printing_side as other_side %}
            <img class="card-image side-back js-card-result-image layout-{{ printing.card.layout }} flipping"
                 src="{% static other_side|card_printing_image_url|safe %}" alt="{{ other_side.card.display_name }}"
                 width="100"/>
        {% endwith %}
    {% endif %}
{% endblock %}
<style>

</style>