{% extends "website/base_filter.html" %}
{% load widget_tweaks %}
{% block title_extra %}
    <div style="float:right;">
        <div style="display:flex;max-height:23px;">
            <input type="checkbox" id="onlyIdentityBox" class="onlyCheckbox" name="exclude_colours"
                   {% if form.data.exclude_colours %}checked="checked"{% endif %}>
            <label for="onlyIdentityBox" class="unselectable js-only-checkbox">Only</label>
            <div data-qa="options" class="sk-toggle darkToggle js-match-colours-group">
                <input type="checkbox" name="match_colours" class="js-match-colours"
                       {% if form.data.match_colours %}checked="checked"{% endif %} style="display:none;"/>
                <div class="sk-toggle-option sk-toggle__item {% if form.data.match_colours %}is-active{% endif %} js-and-checkbox unselectable">
                    <div class="sk-toggle-option__text">And</div>
                </div>
                <div class="sk-toggle-option sk-toggle__item {% if not form.data.match_colours %}is-active{% endif %} js-or-checkbox unselectable">
                    <div class="sk-toggle-option__text">Or</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block filter %}
    <div class="sk-item-list" style="display: flex;">
        {% include 'website/_colour_selector.html' with symbol='w' name='colour_white' id='id_colour_white' value=form.data.colour_white %}
        {% include 'website/_colour_selector.html' with symbol='u' name='colour_blue' id='id_colour_blue' value=form.data.colour_blue %}
        {% include 'website/_colour_selector.html' with symbol='b' name='colour_black' id='id_colour_black' value=form.data.colour_black %}
        {% include 'website/_colour_selector.html' with symbol='r' name='colour_red' id='id_colour_red' value=form.data.colour_red %}
        {% include 'website/_colour_selector.html' with symbol='g' name='colour_green' id='id_colour_green' value=form.data.colour_green %}
        {% include 'website/_colour_selector.html' with symbol='c' name='colour_colourless' id='id_colour_colourless' value=form.data.colour_colourless %}
    </div>
{% endblock %}
