{% load widget_tweaks %}

{% block content %}
    <form action="{% url 'website:simple_search' %}" method="get">
        <div class="sk-layout__filters">
            <div class="my-logo js-search-btn">
                <a style="color:white;text-decoration:none;" href="/">
                    <span>Search</span>
                </a>
            </div>
            <br/>
            {% include 'website/text_filter.html' with title="Card name" enabled=form.card_name.value field=form.card_name placeholder="Search card name" %}
            {% include 'website/text_filter.html' with title="Rules text" enabled=form.rules_text.value field=form.rules_text placeholder="Use ~ for card name" %}
            {% include 'website/text_filter.html' with title="Flavour text" enabled=form.flavour_text.value field=form.flavour_text placeholder="Search flavour text" %}
            {% include 'website/text_filter.html' with title="Type" enabled=form.type_text.value field=form.type_text placeholder="Search card type" %}
            {% include 'website/text_filter.html' with title="Subtype" enabled=form.subtype_text.value field=form.subtype_text placeholder="Search card subtype" %}
            {% include 'website/slider_filter.html' with title="Converted Mana Cost" enabled=form.max_cmc.value min_field=form.min_cmc max_field=form.max_cmc min_val=0 max_val=16 %}
            {% include 'website/colour_filter.html' with title="Colour" enabled=form.is_colour_enabled colour_fields=form.colour_fields exclude_field=form.exclude_colours match_field=form.match_colours %}
            {% include 'website/colour_filter.html' with title="Colour Identity" enabled=form.is_colourid_enabled colour_fields=form.colourid_fields exclude_field=form.exclude_colourids match_field=form.match_colourids %}
            {% include 'website/slider_filter.html' with title="Power" enabled=form.max_power.value min_field=form.min_power max_field=form.max_power min_val=-1 max_val=16 %}
            {% include 'website/slider_filter.html' with title="Toughness" enabled=form.max_toughness.value min_field=form.min_toughness max_field=form.max_toughness min_val=-1 max_val=16 %}
            <div class="sk-panel filter--rarity">
                <div class="sk-panel__header is-collapsable">
                    <div style="float:right;">
                        <div style="display:flex;max-height:23px;">
                            <div data-qa="options" class="sk-toggle darkToggle">
                                <div class="sk-toggle-option sk-toggle__item is-active" data-qa="option" data-key="AND">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        And
                                    </div>
                                </div>
                                <div class="sk-toggle-option sk-toggle__item" data-qa="option" data-key="OR">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        Or
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="sk-arrow-right"></span>
                    <span>&nbsp;</span>
                    <span>Rarity</span>
                </div>
                <div class="sk-panel__content is-collapsed">
                    <div data-qa="options" class="sk-item-list">
                        <div class="sk-item-list-option sk-item-list__item" data-qa="option" data-key="Common">
                            <input type="checkbox" data-qa="checkbox" readonly="" class="sk-item-list-option__checkbox">
                            <div data-qa="label" class="sk-item-list-option__text">
                                Common
                            </div>
                            <div data-qa="count" class="sk-item-list-option__count">
                                4
                            </div>
                        </div>
                        <div class="sk-item-list-option sk-item-list__item" data-qa="option" data-key="Rare">
                            <input type="checkbox"
                                   data-qa="checkbox"
                                   readonly=""
                                   class="sk-item-list-option__checkbox">
                            <div data-qa="label" class="sk-item-list-option__text">
                                Rare
                            </div>
                            <div data-qa="count" class="sk-item-list-option__count">
                                2
                            </div>
                        </div>
                        <div class="sk-item-list-option sk-item-list__item" data-qa="option"
                             data-key="Uncommon">
                            <input type="checkbox" data-qa="checkbox" readonly=""
                                   class="sk-item-list-option__checkbox">
                            <div data-qa="label" class="sk-item-list-option__text">
                                Uncommon
                            </div>
                            <div data-qa="count" class="sk-item-list-option__count">
                                1
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sk-panel filter--setcodes">
                <div class="sk-panel__header is-collapsable">
                    <div style="float:right;">
                        <div style="display:flex;max-height:23px;">
                            <div data-qa="options" class="sk-toggle darkToggle">
                                <div class="sk-toggle-option sk-toggle__item is-active" data-qa="option" data-key="AND">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        And
                                    </div>
                                </div>
                                <div class="sk-toggle-option sk-toggle__item" data-qa="option" data-key="OR">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        Or
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="sk-arrow-right"></span>
                    <span>&nbsp;</span>
                    <span>Set</span>
                </div>
                <div class="sk-panel__content is-collapsed">
                    <div class="Select Select--multi is-searchable">
                        <div class="Select-control">
                            <div class="Select-placeholder">
                                Select...
                            </div>
                            <div class="Select-input" style="display:inline-block;">
                                <input value="" style="width:5px;box-sizing:content-box;">
                                <div style="position: absolute; visibility: hidden; height: 0px; width: 0px; overflow: scroll; white-space: pre; font-size: 13.3333px; font-family: MS Shell Dlg \32 ; font-weight: 400; font-style: normal; letter-spacing: normal;"></div>
                            </div>
                            <span class="Select-arrow-zone">
                        <span class="Select-arrow"></span>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sk-panel filter--formats">
                <div class="sk-panel__header is-collapsable">
                    <div style="float:right;">
                        <div style="display:flex;max-height:23px;">
                            <div data-qa="options" class="sk-toggle darkToggle">
                                <div class="sk-toggle-option sk-toggle__item is-active" data-qa="option" data-key="AND">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        And
                                    </div>
                                </div>
                                <div class="sk-toggle-option sk-toggle__item" data-qa="option" data-key="OR">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        Or
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="sk-arrow-right"></span>
                    <span>&nbsp;</span>
                    <span>Formats</span>
                </div>
                <div class="sk-panel__content is-collapsed">
                    <div class="Select Select--multi is-searchable">
                        <div class="Select-control">
                            <div class="Select-placeholder">
                                Select...
                            </div>
                            <div class="Select-input" style="display:inline-block;">
                                <input value="" style="width:5px;box-sizing:content-box;">
                                <div style="position: absolute; visibility: hidden; height: 0px; width: 0px; overflow: scroll; white-space: pre; font-size: 13.3333px; font-family: MS Shell Dlg \32 ; font-weight: 400; font-style: normal; letter-spacing: normal;"></div>
                            </div>
                            <span class="Select-arrow-zone">
                        <span class="Select-arrow"></span>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sk-panel filter--cycles is-disabled">
                <div class="sk-panel__header is-collapsable">
                    <div style="float:right;">
                        <div style="display:flex;max-height:23px;">
                            <div data-qa="options" class="sk-toggle darkToggle">
                                <div class="sk-toggle-option sk-toggle__item is-active" data-qa="option" data-key="AND">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        And
                                    </div>
                                </div>
                                <div class="sk-toggle-option sk-toggle__item" data-qa="option" data-key="OR">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        Or
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="sk-arrow-right"></span>
                    <span>&nbsp;</span>
                    <span>Cycles</span>
                </div>
                <div class="sk-panel__content is-collapsed">
                    <div class="Select Select--multi is-searchable">
                        <div class="Select-control">
                            <div class="Select-placeholder">
                                Select...
                            </div>
                            <div class="Select-input" style="display:inline-block;">
                                <input value="" style="width:5px;box-sizing:content-box;">
                                <div style="position: absolute; visibility: hidden; height: 0px; width: 0px; overflow: scroll; white-space: pre; font-size: 13.3333px; font-family: MS Shell Dlg \32 ; font-weight: 400; font-style: normal; letter-spacing: normal;"></div>
                            </div>
                            <span class="Select-arrow-zone">
                        <span class="Select-arrow"></span>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sk-panel filter--supertype is-disabled">
                <div class="sk-panel__header is-collapsable">
                    <div style="float:right;">
                        <div style="display:flex;max-height:23px;">
                            <div data-qa="options" class="sk-toggle darkToggle">
                                <div class="sk-toggle-option sk-toggle__item is-active" data-qa="option" data-key="AND">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        And
                                    </div>
                                </div>
                                <div class="sk-toggle-option sk-toggle__item" data-qa="option" data-key="OR">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        Or
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="sk-arrow-right"></span>
                    <span>&nbsp;</span>
                    <span>Supertype</span>
                </div>
                <div class="sk-panel__content is-collapsed">
                    <div data-qa="options" class="sk-item-list"></div>
                </div>
            </div>
            <div class="sk-panel filter--type">
                <div class="sk-panel__header is-collapsable">
                    <div style="float:right;">
                        <div style="display:flex;max-height:23px;">
                            <div data-qa="options" class="sk-toggle darkToggle">
                                <div class="sk-toggle-option sk-toggle__item is-active" data-qa="option" data-key="AND">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        And
                                    </div>
                                </div>
                                <div class="sk-toggle-option sk-toggle__item" data-qa="option" data-key="OR">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        Or
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="sk-arrow-right"></span>
                    <span>&nbsp;</span>
                    <span>Type</span>
                </div>
                <div class="sk-panel__content is-collapsed">
                    <div data-qa="options" class="sk-item-list">
                        <div class="sk-item-list-option sk-item-list__item" data-qa="option" data-key="Creature">
                            <input type="checkbox" data-qa="checkbox" readonly="" class="sk-item-list-option__checkbox">
                            <div data-qa="label" class="sk-item-list-option__text">
                                Creature
                            </div>
                            <div data-qa="count" class="sk-item-list-option__count">
                                3
                            </div>
                        </div>
                        <div class="sk-item-list-option sk-item-list__item" data-qa="option" data-key="Sorcery">
                            <input type="checkbox" data-qa="checkbox" readonly="" class="sk-item-list-option__checkbox">
                            <div data-qa="label" class="sk-item-list-option__text">
                                Sorcery
                            </div>
                            <div data-qa="count" class="sk-item-list-option__count">
                                2
                            </div>
                        </div>
                        <div class="sk-item-list-option sk-item-list__item" data-qa="option" data-key="Enchantment">
                            <input type="checkbox" data-qa="checkbox" readonly="" class="sk-item-list-option__checkbox">
                            <div data-qa="label" class="sk-item-list-option__text">
                                Enchantment
                            </div>
                            <div data-qa="count" class="sk-item-list-option__count">
                                1
                            </div>
                        </div>
                        <div class="sk-item-list-option sk-item-list__item" data-qa="option" data-key="Instant">
                            <input type="checkbox" data-qa="checkbox" readonly="" class="sk-item-list-option__checkbox">
                            <div data-qa="label" class="sk-item-list-option__text">
                                Instant
                            </div>
                            <div data-qa="count" class="sk-item-list-option__count">
                                1
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sk-panel filter--subtype">
                <div class="sk-panel__header is-collapsable">
                    <div style="float:right;">
                        <div style="display:flex;max-height:23px;">
                            <div data-qa="options" class="sk-toggle darkToggle">
                                <div class="sk-toggle-option sk-toggle__item is-active" data-qa="option" data-key="AND">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        And
                                    </div>
                                </div>
                                <div class="sk-toggle-option sk-toggle__item" data-qa="option" data-key="OR">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        Or
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="sk-arrow-right"></span>
                    <span>&nbsp;</span>
                    <span>Subtype</span>
                </div>
                <div class="sk-panel__content is-collapsed">
                    <div class="Select Select--multi is-searchable">
                        <div class="Select-control">
                            <div class="Select-placeholder">Select...</div>
                            <div class="Select-input" style="display:inline-block;">
                                <input value="" style="width:5px;box-sizing:content-box;">
                                <div style="position: absolute; visibility: hidden; height: 0px; width: 0px; overflow: scroll; white-space: pre; font-size: 13.3333px; font-family: MS Shell Dlg \32 ; font-weight: 400; font-style: normal; letter-spacing: normal;"></div>
                            </div>
                            <span class="Select-arrow-zone">
                        <span class="Select-arrow"></span>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sk-panel filter--manaCost">
                <div class="sk-panel__header is-collapsable">
                    <div style="float:right;">
                        <div style="display:flex;max-height:23px;">
                            <div data-qa="options" class="sk-toggle darkToggle">
                                <div class="sk-toggle-option sk-toggle__item is-active" data-qa="option" data-key="AND">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        And
                                    </div>
                                </div>
                                <div class="sk-toggle-option sk-toggle__item" data-qa="option" data-key="OR">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        Or
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="sk-arrow-right"></span>
                    <span>&nbsp;</span>
                    <span>Mana Cost</span>
                </div>
                <div class="sk-panel__content is-collapsed">
                    <div class="Select Select--multi is-searchable">
                        <div class="Select-control">
                            <div class="Select-placeholder">
                                Select...
                            </div>
                            <div class="Select-input" style="display:inline-block;">
                                <input value="" style="width:5px;box-sizing:content-box;">
                                <div style="position: absolute; visibility: hidden; height: 0px; width: 0px; overflow: scroll; white-space: pre; font-size: 13.3333px; font-family: MS Shell Dlg \32 ; font-weight: 400; font-style: normal; letter-spacing: normal;"></div>
                            </div>
                            <span class="Select-arrow-zone">
                        <span class="Select-arrow"></span>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sk-panel filter--colorCount">
                <div class="sk-panel__header is-collapsable">
                    <div style="float:right;">
                        <div style="display:flex;max-height:23px;">
                            <div data-qa="options" class="sk-toggle darkToggle">
                                <div class="sk-toggle-option sk-toggle__item is-active" data-qa="option" data-key="AND">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        And
                                    </div>
                                </div>
                                <div class="sk-toggle-option sk-toggle__item" data-qa="option" data-key="OR">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        Or
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="sk-arrow-right"></span>
                    <span>&nbsp</span>
                    <span>Colour Count</span>
                </div>
                <div class="sk-panel__content is-collapsed">
                    <div data-qa="options" class="sk-item-list">
                        <div class="sk-item-list-option sk-item-list__item" data-qa="option" data-key="1">
                            <input type="checkbox" data-qa="checkbox" readonly="" class="sk-item-list-option__checkbox">
                            <div data-qa="label" class="sk-item-list-option__text">
                                1
                            </div>
                            <div data-qa="count" class="sk-item-list-option__count">
                                7
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sk-panel filter--artists">
                <div class="sk-panel__header is-collapsable">
                    <div style="float:right;">
                        <div style="display:flex;max-height:23px;">
                            <div data-qa="options" class="sk-toggle darkToggle">
                                <div class="sk-toggle-option sk-toggle__item is-active" data-qa="option" data-key="AND">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        And
                                    </div>
                                </div>
                                <div class="sk-toggle-option sk-toggle__item" data-qa="option" data-key="OR">
                                    <div data-qa="label" class="sk-toggle-option__text">
                                        Or
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="sk-arrow-right"></span>
                    <span>&nbsp;</span>
                    <span>Artist name</span>
                </div>
                <div class="sk-panel__content is-collapsed">
                    <div class="Select Select--multi is-searchable">
                        <div class="Select-control">
                            <div class="Select-placeholder">
                                Select...
                            </div>
                            <div class="Select-input" style="display:inline-block;">
                                <input value="" style="width:5px;box-sizing:content-box;">
                                <div style="position: absolute; visibility: hidden; height: 0px; width: 0px; overflow: scroll; white-space: pre; font-size: 13.3333px; font-family: MS Shell Dlg \32 ; font-weight: 400; font-style: normal; letter-spacing: normal;"></div>
                            </div>
                            <span class="Select-arrow-zone">
                            <span class="Select-arrow"></span>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}