{% extends 'website/base.html' %}
{% load staticfiles %}
{% block content %}

    <canvas id="myChart"></canvas>

    <script src="{% static "node_modules/chart.js/dist/Chart.min.js" %}" type="text/javascript"></script>

    <script type="text/javascript">

        {% comment %}var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 10, 5, 2, 20, 30, 45]
                }]
            },

            // Configuration options go here
            options: {}
        });{% endcomment %}
    </script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [4, 8, 15, 0, 0]
                }, {
                    data: [10, 11, 12, 0, 0]
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: [
                    'White',
                    'Blue',
                    'Black',
                    'Red',
                    'Green',
                ],
                options: {}
            }
        });
    </script>

{% endblock %}