{% extends "website/base_filter.html" %}
{% load widget_tweaks %}
{% block title_extra %}
    <div style="float:right;">
        <div style="display:flex;max-height:23px;">
            {% include 'website/filter_match_options.html' with field=match_field %}
        </div>
    </div>
{% endblock %}
{% block filter %}
    <div class="filter-item-list" style="display: flex;">
        {% include 'website/_rarity_selector.html' with symbol='C' field=rarity_fields.c name='Common'%}
        {% include 'website/_rarity_selector.html' with symbol='U' field=rarity_fields.u name='Uncommon'%}
        {% include 'website/_rarity_selector.html' with symbol='R' field=rarity_fields.r name='Rare'%}
        {% include 'website/_rarity_selector.html' with symbol='M' field=rarity_fields.m name='Mythic'%}
    </div>
{% endblock %}
