{% extends "website/base_filter.html" %}
{% load widget_tweaks %}
{% block filter %}
    <div class="sk-item-list" style="display: flex;">
        {% include 'website/_rarity_selector.html' with symbol='C' field=rarity_fields.c name='Common'%}
        {% include 'website/_rarity_selector.html' with symbol='U' field=rarity_fields.u name='Uncommon'%}
        {% include 'website/_rarity_selector.html' with symbol='R' field=rarity_fields.r name='Rare'%}
        {% include 'website/_rarity_selector.html' with symbol='M' field=rarity_fields.m name='Mythic'%}
    </div>
{% endblock %}
