{% extends 'website/base.html' %}
{% block content %}
    <section class="simple-search-container">
        <section class="simple-search-sidebar">
            sidebar

            <form action="{% url 'website:simple_search' %}" method="get">
                <div>
                    <label for="{{ form.card_name.id_for_label }}">Name</label>
                    {{ form.card_name }}
                </div>
                <div>
                    <label for="{{ form.rules_text.id_for_label }}">Rules</label>
                    {{ form.rules_text }}
                </div>
                <div>
                    <label for="{{ form.cmc.id_for_label }}">Converted Mana Cost</label>
                    {{ form.cmc }}
                    {{ form.cmc_operator }}
                </div>
                <div>
                    <label>Colour</label>
                    {{ form.colour_white }}
                    {{ form.colour_blue }}
                    {{ form.colour_black }}
                    {{ form.colour_red }}
                    {{ form.colour_green }}
                </div>
                <button type="submit">Search</button>
            </form>
        </section>
        <section class="simple-search-content">
            content
            {% for result in results %}
                {% include "website/search_result.html" with card=result %}
            {% endfor %}
        </section>
    </section>
{% endblock %}