{% extends "website/base_filter.html" %}
{% load widget_tweaks %}
{% block filter %}
    <div class="js-filter">
        <div class="filter-form" style="display: block;">
            <input type="submit" value="search" class="filter-hidden-input" data-qa="submit">

            <div class="input-filter-text js-filter-field js-slider-filter"
                 data-min-value="{{ min_val }}"
                 data-max-value="{{ max_val }}"
            ></div>
            {% render_field min_field class="js-min-field" type="hidden" %}
            {% render_field max_field class="js-max-field" type="hidden" %}
            <div class="slider-label">
                <span class="slider-label-text slider-label-left js-lower-mark">{{ min_field.data }}</span>
                <span class="slider-label-text slider-label-right js-upper-mark">{{ max_field.data }}</span>
            </div>
        </div>
    </div>
{% endblock %}