{% extends "website/base_filter.html" %}
{% load widget_tweaks %}
{% block filter %}
    <div class="sk-input-filter__icon"></div>
    <input type="text" name="{{ field.name }}" placeholder="{{ placeholder }}"
           class="sk-input-filter__text js-filter-field" id="{{ field.auto_id }}"
           {% if field.value is not None %}value="{{ field.value }}"{% endif %}
           {% if not enabled %}disabled="disabled"{% endif %}>
    <input type="submit" value="search" class="sk-input-filter__action" data-qa="submit">
    <div data-qa="remove"
         class="sk-input-filter__remove
           js-remove-filter
           {% if not enabled %}is-hidden{% endif %}"></div>
{% endblock %}