{% block content %}
    <div class="top-bar">
        <div class="top-bar-content">
            <div class="top-bar-action">
                <a style="color:white;text-decoration:none;" href="/">
                    <span>SylvanLibrary</span>
                </a>
            </div>
            <div class="top-bar-action">
                <button style="">About</button>
            </div>
            <div class="header-search-container">
                <form action="{% url 'website:name_search' %}" method="get">
                    <div class="search-icon"></div>
                    <input type="text" class="search-input"
                           name="card_name"
                           placeholder="Search card names. Use AND, OR and NOT e.g. (fire OR ice) AND a* NOT &quot;sword of&quot;"
                           value="{% if name_form %}{{ name_form.card_name.value }}{% endif %}">
                    <input type="submit" style="display: none;">
                </form>
            </div>
        </div>
    </div>
{% endblock %}